/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, sans-serif; 
}

/* Header and related elements */
header {
    background-color: #1F2937;
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 20px; 
    align-items: center;
}


header .logo {
    font-size: x-large;
    font-weight: bold;
    color: #F9FAF8;
}

/* Navigation List Styling */
nav ul {
    list-style-type: none; 
    display: flex;
    gap: 15px;
    align-items: center;
}

a{
    text-decoration: none;
color: #F9FAF8;
}

a:hover{ color: black;
}
/*styling the hero */

#about{background-color: #1F2937;
    display: flex;
    justify-content:space-evenly;
    color:#F9FAF8;
    



}
#about .container{ max-width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
img{ max-width: 200px;
max-height: 200px;}